 .carousel-indicators1 {
    right: 0;
    bottom: -30px;
}
    .carousel-indicators1	li {
	 background-color: red;
		outline: 1px solid lightgray;
	
    }
        .carousel-indicators1.active {
 background-color: blue;
		outline: 1px solid black;
	}


img {
	height: 200px;
} 
 