.btnabout2{
   
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background: #15C39A;
    color: #fff;
    border: none;
 
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    transition: background 0.2s ease-out;
  }
  
  .btnabout2:hover {
    background: #55D3AC;
  } 

  .containera {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .containera {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .containera {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .containera {
      width: 1170px;
    }
  }
