.fos {
    font-family: 'Open Sans', sans-serif;
    background: #f9faff;
    color: #3a3c47;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 48px;
  }
  
  .formjs {
    background: #fff;
    text-align: center;
    max-width: 360px;
    width: 100%;
    padding: 58px 44px;
    border: 1px solid #e1e2f0;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
    transition: all 0.3s ease;
  }
  
  .rowsss {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .rowsss label {
    font-size: 13px;
    color: #8086a9;
  }
  
  .rowsss input {
    flex: 1;
    padding: 13px;
    border: 1px solid #d6d8e6;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.2s ease-out;
  }
  
  .rowsss input:focus {
    outline: none;
    box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
  }
  
  .rowsss input::placeholder {
    color: #C8CDDF;
  }
  
  .btnlns {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background: #15C39A;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    transition: background 0.2s ease-out;
  }
  
  .btnlns:hover {
    background: #55D3AC;
  }
  
  @media(max-width: 400px) {
  
    .formjs {
      background: #f9faff;
      border: none;
      box-shadow: none;
      padding: 20px 0;
    }
  
  }
.signupmains{
  text-align: right;
  padding-right: 20px;
  font-size: initial;
  margin-top: 20px;
  text-decoration: none;
}
  .signups{
    margin-top: 10px;
    text-align: right;
  }

 